body {
    background-color: white;
    padding: 50px;
}
.container {
    color: white;
    background-color: white;
}
#neighbourhood {
    background-color: red;
}
#moore, #von {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(60, 60, 60);
}